{% extends 'base.html.twig' %}

{% block title %}Ajouter du Stock{% endblock %}

{% block body %}
      {% include '__fragments/nav.html.twig' %}

      {# contenu #}
      <div class="content">
        <div class="pb-5">
          <div class="row g-4">
            <div class="col-12 col-xxl-6">
                <div class="mb-8">
                    <h1>Ajouter du stock</h1>

                    {{ include('stock/_form.html.twig', {'button_label': 'Ajouter'})}}
                </div> 

    <a href="{{ path('app_stock_index') }}">Retour</a>
{% endblock %}
