{% extends 'base.html.twig' %}

{% block title %}Edit HistoriqueCommission{% endblock %}

{% block body %}
    <h1>Edit HistoriqueCommission</h1>

    {{ include('historique_commission/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_historique_commission_index') }}">back to list</a>

    {{ include('historique_commission/_delete_form.html.twig') }}
{% endblock %}
